

header {
  /*background: hsl(160, 50%, 50%);*/
  background: hsla(160, 50%, 50%, 0.6);
}

.link {

}

#portafolio {

}

body{
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 200;
}

h1{
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
/*  text-transform: none;
  text-decoration: underline;*/
}

/*a{
  text-transform: none;
  text-decoration: none;
}
*/
